.navbar.bg-light {
    background-color: #f3e2b3 !important;

    .form-control {
        border-radius: 4.25rem;
    }
}

.l-btn {
    width: 70px;
}

.heading {
    font-family: "Yuji Mai", serif;
}

.image {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #c7c7c718;
    width: 215px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.521);

}