.header th {
    background-color: #3bb145;
    color: white;
    margin-top: 5px;
}

.table {
    /* margin: auto; */
    width: 100%;
    margin-top: 7px;
}

.main {
    background-color: #fff;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 40px 25px 20px 25px;
}

.fa-trash-can {
    color: red;
}

.yuji-mai-regular {
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}